<div class="mip-header">
  <div class="mip-header-main">
    <h1 class="logo"> <a href="{pboot:sitedomain}/" rel="home">
      <mip-img src="{pboot:sitelogo}"></mip-img>
      </a> </h1>
    <div class="mip-nav-wrapper">
      <mip-nav-slidedown data-id="bs-navbar" class="mip-element-sidebar container" >
        <nav id="bs-navbar" class="navbar-collapse collapse navbar navbar-static-top">
          <ul class="nav navbar-nav navbar-right">
            <li {pboot:if(0=='{sort:scode}')}class="active"{/pboot:if}><a href="{pboot:sitedomain}/">首页</a></li>
            {pboot:nav}
            <li {pboot:if('[nav:scode]'=='{sort:tcode}')}class="active"{/pboot:if}><a href="[nav:link]">[nav:name]</a>
              {pboot:if([nav:soncount]>0)}
              <ul>
                {pboot:2nav parent=[nav:scode]}
                <li class="menu-item"><a href="[2nav:link]">[2nav:name]</a></li>
                {/pboot:2nav}
              </ul>
              {/pboot:if}
            </li>
            {/pboot:nav}
            <hr class="hr-xs">
            <li class="navbar-wise-close"> <span id="navbar-wise-close-btn"></span> </li>
          </ul>
        </nav>
      </mip-nav-slidedown>
    </div>
  </div>
</div>