<!DOCTYPE html>
<html mip>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<title>{pboot:sitetitle}</title>
<meta name="keywords" content="{pboot:sitekeywords}">
<meta name="description" content="{pboot:sitedescription}">
<meta name="author" content="www.pb2345.cpm PB4497" />
<link rel="stylesheet" type="text/css" href="https://mipcache.bdstatic.com/static/v1/mip.css">
<link rel="stylesheet" type="text/css" href="{pboot:sitedomain}/skin/css/style.css"/>
</head>
<body>
{include file=head.html}
<div class="mip-wrap">
  <div class="mip-container">
    <div class="sub-mip-main">
      <div class="slider">
        <div id="slideBox" class="slideBox">
          <mip-carousel autoplay defer="4000" layout="responsive"  width="830" height="320"> 
            {pboot:list scode=* num=5 isrecommend=1 order=sorting}
            <a href="[list:link]" title="[list:title]">
            <mip-img src="[list:ico]" width="830" height="320"> </mip-img>
            </a>
            {/pboot:list}
            </mip-carousel>
        </div>
      </div>
      {pboot:list scode=* num=10 order=sorting}
      <div class="mip-content"> 
      {pboot:if([list:isico]==1)}<a href="[list:link]" class="mip-cont-img" title="[list:title]"><mip-img src="[list:ico]"></mip-img></a>{/pboot:if}
        <h2><a class="mip-cont-title" href="[list:link]" title="[list:title]">[list:title]</a></h2>
        <i class="mip-time">[list:date style=Y-m-d]</i> <a href="[list:link]" class="mip-cont-text" title="[list:title]">[list:description lencn=70]</a> </div>
      {/pboot:list}
      
    </div>
  </div>
  {include file=right.html}
</div>
{include file=foot.html}
</body>
</html>