<!DOCTYPE html>
<html mip>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<title>{content:title}-{pboot:sitetitle}</title>
<meta name="keywords" content="{content:keywords}">
<meta name="description" content="{content:description}">
<link rel="stylesheet" type="text/css" href="https://mipcache.bdstatic.com/static/v1/mip.css">
<link rel="stylesheet" type="text/css" href="{pboot:sitedomain}/skin/css/style.css"/>
</head>
<body>
{include file=head.html}
<div class="mip-wrap">
  <div class="mip-container">
    <div class="mip-detail-main">
      <div class="mip-detail-title">
        <h1>{content:title}</h1>
        <i><span class="mip-author">admin</span> ·  {content:date style=Y-m-d}</i> </div>
      <div class="mip-detail-content" id="maximg">
        {content:content}
        
        <blockquote>
          <p>文章推荐：</p>
          {pboot:list scode={sort:scode} num=4}
          <p><a href='[list:link]' title="[list:title]">[list:title]</a></p>
          {/pboot:list}
        </blockquote>
      </div>
    </div>
  </div>
  {include file=right.html}
</div>
{include file=foot.html}
</body>
</html>