<div class="mip-about-info">
    <div class="widget widget-tie divSearchPanel">
      <mip-form action="{pboot:scaction}" method="get">
        <form action="{pboot:scaction}" method="get" target="_blank">
          <input class="search-input" name="keyword" type="text" placeholder="搜索是种美德">
          <input class="search-btn" type="submit" value="搜索">
        </form>
      </mip-form>
    </div>
    <div class="widget widget-tie divPrevious">
      <h3>热门浏览</h3>
      <ul>
        {pboot:list scode=* num=10 order=sorting}
        <li><a href="[list:link]" title="[list:title]">[list:title]</a></li>
        {/pboot:list}
      </ul>
    </div>
    <div class="widget widget-tie divTags">
      <h3>标签列表</h3>
      <ul>
        {pboot:tags num=40}
        <li><a href="[tags:link]">[tags:text]</a></li>
        {/pboot:tags}
      </ul>
    </div>
  </div>