<!DOCTYPE html>
<html mip>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<title>{$get.tag} - {pboot:sitetitle}</title>
<meta name="keywords" content="{pboot:sitekeywords}">
<meta name="description" content="{pboot:sitedescription}">
<link rel="stylesheet" type="text/css" href="https://mipcache.bdstatic.com/static/v1/mip.css">
<link rel="stylesheet" type="text/css" href="{pboot:sitedomain}/skin/css/style.css"/>
</head>
<body>
{include file=head.html}
<div class="mip-wrap">
  <div class="mip-container">
    <div class="sub-mip-main">
    
      {pboot:list num=10 order=sorting scode=* page=1}
      <div class="mip-content">
        {pboot:if([list:isico]==1)}<a href="[list:link]" class="mip-cont-img" title="[list:title]"><mip-img src="[list:ico]"></mip-img></a>{/pboot:if}
        <h2><a class="mip-cont-title" href="[list:link]" title="[list:title]">[list:title]</a></h2>
        <i class="mip-time">[list:date style=Y-m-d]</i> <a href="[list:link]" class="mip-cont-text" title="[list:title]">[list:description lencn=80]</a> </div>
      {/pboot:list}
      
      {pboot:if({page:rows}>0)}
      <div class="pagebar">
        <div class="pagination">
          <a class="page-item page-link st" href="{page:pre}" title="上一页"><<</a>
          {page:numbar}
          <a class="page-item page-link" href="javascript:;" title="当前页/总页数">{page:current}/{page:count}</a>
          <a class="page-item page-link st" href="{page:next}" title="下一页">>></a>
        </div>
      </div>	
    {else}
      <div class="tac text-secondary">本分类下无任何数据！</div>
    {/pboot:if}
    </div>
  </div>
  {include file=right.html}
</div>
{include file=foot.html}
</body>
</html>